body {
    background-color: bisque;
}

.title {
    display:flex;
    padding-bottom: 150px;
}

.calc {
    display:flex;
    justify-content: center;
}

.calculator-container {
    display:flex;
    width: 400px;
    height: 600px;
    flex-wrap: wrap;
    /* border: solid 1px #000; */
}

.display {
    width: 400px;
    height: 100px;
    border: solid 1px #000;
    margin-bottom: 1px;
    border-bottom: none;
    border-radius: 5px;
}

.calc-numbers {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width:400px;
    height: 500px;
    
}

.calc-numbers > div.num{
    display:flex;
    border: solid 1px #000;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin-top: -1px;
    margin-left: -1px;
    box-shadow: inset 0 0 0 0 #54b3d6;
    /* color: #54b3d6; */
    /* margin: 0 -.25rem;
    padding: 0 .25rem; */
    transition: color .15s ease-in-out, box-shadow .1s ease-in-out;
}

.calc-numbers > div.extra, div.operator{
    display:flex;
    border: solid 1px #000;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin-top: -1px;
    margin-left: -1px;
    box-shadow: inset 0 0 0 0 #7b54d6;
    /* color: #54b3d6; */
    /* margin: 0 -.25rem;
    padding: 0 .25rem; */
    transition: color .15s ease-in-out, box-shadow .1s ease-in-out;
}

.calc-numbers > div.num:hover {
    box-shadow: inset 100px 0 0 0 #54b3d6;
    color: white;
}
.calc-numbers > div.extra:hover, div.operator:hover {
    box-shadow: inset 100px 0 0 0 #7b54d6;
    color: white;
}

.display h2{
    text-align:right;
    margin-top: 35px;
    margin-right: 10px;
    align-items: center;
    
}
